html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fff;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/*球的样式*/
.No_0, .No_1, .No_2, .No_3, .No_4, .No_5, .No_6, .No_7, .No_8, .No_9 {
  background-image: url(../image/ball_3.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

.No_0 {
  background-position:0 0px
}
.No_1 {
  background-position:0 -27px
}
.No_2 {
  background-position:0 -54px
}
.No_3 {
  background-position:0 -81px
}
.No_4 {
  background-position:0 -108px
}
.No_5 {
  background-position:0 -135px
}
.No_6 {
  background-position:0 -162px
}
.No_7 {
  background-position:0 -189px
}
.No_8 {
  background-position:0 -216px
}
.No_9 {
  background-position:0 -243px
}

/* 表格样式 */
.t_list {
  margin-top: 5px;
  background-color: #e9ba84;
  position: relative;
  border-collapse: separate;
  border-spacing: 1px;
}
.t_list_tr_1 {
  background-color: #fff5ec;
  text-align: center;
  height: 20px;
  line-height: 17px;
}
.t_list_tr_1:hover {
  background: rgb(255,255,162);
}
.t_list_caption {
  background-image: url(/static/image/bg.jpg);
  line-height: 24px;
  text-align: center;
  color: #4a1a04;
  font-weight: bold;
}
.t_list_bottom {
  background-image: url(/static/image/bg.jpg);
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.Font_R {
  color: #FF0000;
}
.Font_b {
  font-weight: bold;
}
.Font_B {
  color: #2836F4;
}
.Font_G {
  color: #299A26;
}